#tela {
    width: 400px;
    height: 400px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.peca {
    height: 130px;
    width: 130px;
    background-color: rgb(192, 192, 192);
}